<!-- Navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Contacts</a>
    <ul class="nav">
      <li><a href="#" class="new">New</a></li>
    </ul>
  </div>
</div>
<!-- end navbar -->

<!-- Contacts -->
<div class="contacts">
</div>

