<div class="actions">
  <a href="" class="edit"><i class="icon-edit"></i></a>
  <a href="" class="destroy"><i class="icon-remove"></i></a>
</div>
<img src="http://lorempixel.com/120/120/people" class="img-circle" />
<h4 class="name">{{ name }}</h4>
<span class="phone">{{ phone }}</span>
<span class="email">{{ email }}</span>

